.fg-grey {
  color: #888 !important;
}

.fg-orange {
  color: $orange !important;
}

.fg-white {
  color: #fff !important;
}

.fg-blue {
  color: $blue-dark !important;
}

.fg-green {
  color: $green !important;
}

.fg-red {
    color: $red !important;
}
