//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.clearfix {
    @include clearfix;
}
.center-block {
    @include center-block;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}


// Toggling content
// -------------------------

.hide {
    display: none;
}
.show {
    display: block;
}
.invisible {
    visibility: hidden;
}
.text-hide {
    @include text-hide;
}


// Hide from screenreaders and browsers
// ---------------------------------------

.hidden {
    display: none !important;
}


// For Affix plugin
// -------------------------

.affix {
    position: fixed;
}

.relative {
    position: relative;
}

.absolute {
  position: absolute;
}

.hover-pointer:hover {
    cursor: pointer;
}

.full-width {
    width: 100%;
}

.reset-anchor {
    color: inherit;

}

.text-bold {
    font-weight: bold;
}

.block {
    display: block;
}

.inline {
    display: inline-block;
}

.text-center {
    text-align: center;
}
