.margin-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.half-width {
  width: 50% !important;
}

.full-width {
  width: 100% !important;
}

.block {
  display: block !important;
}

.relative {
  position: relative !important;
}
