// Alignment
.text-left           { text-align: left !important; }
.text-right          { text-align: right !important; }
.text-center         { text-align: center !important; }
.text-justify        { text-align: justify !important; }

// Transformation
.text-lowercase      { text-transform: lowercase !important; }
.text-uppercase      { text-transform: uppercase !important; }
.text-capitalize     { text-transform: capitalize !important; }
.ellipsis            { @include ellipsis; }

.bold {
  font-weight: bold !important;
}

.font-normal {
  font-weight: normal !important;
}


.f-24 {
  font-size: 24px !important;
}


.f-20 {
  font-size: 20px !important;
}

.f-18 {
  font-size: 18px !important;
}

.f-16 {
  font-size: 16px !important;
}

.f-14 {
  font-size: 14px !important;
}

.f-12 {
  font-size: 12px !important;
}
