//
// Buttons
// --------------------------------------------------

// Base styles
// --------------------------------------------------

// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  @include box-shadow(0 1px 4px 0 rgba(0, 0, 0, 0.5));
  white-space: nowrap;

  font-size: 16px;
  color: #fff;
  background-color: $orange;
  padding: 15px 38px;
  @include user-select(none);
  @include transition (background-color 0.2s $swift-out);
  border: 1px solid transparent;

  &--side-padding-0 {
    padding-left: 0;
    padding-right: 0;
  }

  &:hover,
  &:focus,
  &.focus {
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
  }

  // i {
  //   line-height: inherit;
  //   vertical-align: middle;
  //   padding-right: 6px;
  // }

  &--text {
    font-size: 16px;
    color: $orange;
    font-weight: bold;
    text-transform: uppercase;
    background-color: inherit;
    &[disabled], &.disabled {
      background-color: inherit;
      color: #bdbdbd;

    }
  }

  &--mod {
    color: $orange;
    background-color: inherit;
    border: 1px solid $orange;
    @include box-shadow(none);

    &:hover,
    &:focus,
    &.focus {
      // color: $white;
      // background-color: lighten($brand-action, 15%);
      // text-decoration: none;
      // box-shadow: 0 2px 8px rgba($black, 0.25);
      // position: 1px upward offset;
      // outline: none;
    }

    // &--blue {
    //   color: $white;
    //   background-color: $brand-primary;
    //
    //   &:hover,
    //   &:focus,
    //   &.focus {
    //     background-color: lighten($brand-primary, 15%);//TODO make it a mixin code duplication is a sin
    //     text-decoration: none;
    //     box-shadow: 0 2px 8px rgba($black, 0.25);
    //     position: 1px upward offset;
    //   }
    // }

    // &--ghost {
    //   color: $brand-action;
    //   background-color: $white;
    //   border-color: $brand-action;
    //
    //   &:hover,
    //   &:focus,
    //   &.focus {
    //     color: $white;
    //     background-color: $brand-action;
    //     text-decoration: none;
    //     box-shadow: 0 2px 8px rgba($black, 0.25);
    //     position: 1px upward offset;
    //   }
    //
    // }

    // &--inactive {
    //   color: $grey-light;
    //   background-color: $brand-inactive;
    //   pointer-events: none;
    // }
    //
    // &--white {
    //   color: $white;
    //   background-color: transparent;
    //   border-color: $white;
    //
    //   &:hover,
    //   &:focus,
    //   &.focus {
    //     color: $white;
    //     background-color: $brand-action;
    //     border-color: $brand-action;
    //     text-decoration: none;
    //     box-shadow: 0 2px 8px rgba($black, 0.25);
    //     position: 1px;
    //   }
    //
    // }

    // &--text {
    //   color: $brand-action;
    //   background-color: transparent;
    //   border: none;
    //   box-shadow: none;
    //   text-transform: uppercase;
    //   padding: 0;
    //   &:hover, :focus, .focus {
    //     background-color: $orange;
    //     color: $white;
    //   }
    // }

    /**
    &--error {
      -moz-animation-duration: 0.1s; //TODO make it a mixin
      -webkit-animation-duration: 0.1s;
      animation-duration: 0.1s;
      -moz-animation-name: shake-left-right;
      -webkit-animation-name: shake-left-right;
      animation-name: shake-left-right;
      -moz-animation-iteration-count: 3;
      -webkit-animation-iteration-count: 3;
      animation-iteration-count: 3;
      border: solid 1px $brand-warning;
      background: $brand-normal;
    }

    @-moz-keyframes shake-left-right {
      from {
        margin-left: -5px;
      }
      to {
        margin-right: -5px;
      }
    }

    @-webkit-keyframes shake-left-right {
      from {
        margin-left: -5px;
      }
      to {
        margin-right: -5px;
      }
    }

    @keyframes shake-left-right {
      from {
        margin-left: -5px;
      }
      to {
        margin-right: -5px;
      }
    }
  **/

  }

}

// Button Sizes
// --------------------------------------------------

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large);
}

.btn-md {
  // line-height: ensure proper height of button next to small input
  @include button-size($padding-medium-vertical, $padding-medium-horizontal, $font-size-base);
}

.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small);
}

.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small);
}

button[disabled], button.disabled {
  cursor: default;
  background-color: #bdbdbd;
}
